/* Google Fonts Press Start 2p */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --primary-brand-color: #ff4500;
    --secondary-brand-color: #1e90ff;
    --accent-color: gold;
    --shadow-gray-light: #d3d3d3;
    --shadow-gray-dark: #8b8b8b;
    --logo-font: 'Press Start 2p', Cursive, Helvetica;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header,
footer {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    height: 65px;
    background-color: var(--primary-brand-color);
}

header {
    padding-left: 10px;
    font-family: var(--logo-font);
}

header>h1 {
    color: var(--accent-color);
    text-shadow: 1px 1px 3px var(--secondary-brand-color);
}

footer {
    display: flex;
    justify-content: center;
}

main {
    flex-grow: 1;
}

.card {
    width: 300px;
    height: 150px;
    border-radius: 12px;
    margin: 10px;
    border: 1px solid var(--primary-brand-color);
    box-shadow: 1px 1px 12px 1px var(--shadow-gray-light);
    font-size: 30px;
    text-transform: capitalize;
}

.card:hover {
    box-shadow: 1px 1px 15px 1px var(--shadow-gray-dark);
}

#collection {
    flex-wrap: wrap;
}

.outline {
    border: 1px dotted var(--secondary-brand-color);
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}
